:root {
    --color-primary: #334155;
    --color-secondary: #e2e8f0;
    --accent-color-primary: #2dd4bf;
    --font-size-xsmall: 0.85rem;
    --font-size-small: 1rem;
    --font-size-med: 1.125rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 2rem;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: 175px auto;
    height: 100%;
}

.icon-small {
    width: 24px;
    height: 24px;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 2rem;
    padding-right: 5rem;
}

.header-top {
    display: grid;
    grid-template-columns: auto 375px;
}

.header-top-left {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 1.25rem;
}

.header-top-right {
    display: grid;
    grid-template-columns: auto auto max-content;
    column-gap: 1.5rem;
    justify-content: end;
    align-items: center;
}

input[type="search"] {
    -webkit-appearance: none;
    height: 30px;
    border: none;
    border-radius: 24px;
    background-color: var(--color-secondary);
    padding: 1px 10px 1px 10px;
    font-size: var(--font-size-small);
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color-primary);
    color: white;
    border-radius: 50%;
}

.avatar-small {
    height: 50px;
    width: 50px;
}

.avatar svg {
    height: 75%;
    width: 75%;
}

.username-secondary {
    font-size: var(--font-size-med);
    font-weight: 500;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 375px;
}

.header-bottom-left {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 1.25rem;
}

.header-bottom-right {
    display: grid;
    grid-template-columns: auto auto max-content;
    column-gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.avatar-large {
    height: 75px;
    width: 75px;
}

.heading {
    display: grid;
    row-gap: 0.25rem;
}

.greeting {
    font-weight: 500;
}

.username-primary {
    font-size: var(--font-size-large);
    font-weight: 500;
}

.btn {
    border: none;
    text-decoration: none;
    font-size: var(--font-size-small);
    border-radius: 24px;
    height: 42px;
    width: 100px;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    font-weight: 500;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 3.75rem;
    padding: 1.25rem;
    background-color: var(--color-primary);
    color: white;
}

.logo .side-content p {
    font-size: var(--font-size-xlarge);
}

.logo .side-content svg {
    height: 3rem;
    width: 3rem;
}

.nav {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 1.25rem;
}

.side-content {
    display: grid;
    grid-template-columns: 3rem 1fr;
    column-gap: 1.25rem;
}

.side-content svg {
    justify-self: center;
    height: 1.5rem;
    width: 1.5rem;
}

.side-content p {
    align-self: center;
    font-size: var(--font-size-large);
}

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto 335px;
    column-gap: 30px;
    padding: 30px 30px 30px 20px;
    background-color: var(--color-secondary);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, .75fr));
    grid-auto-rows: 250px;
    gap: 30px;
}

.card {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-template-rows: 1fr;
    border-radius: 15px;
    background-color: white;
}

.card-highlight {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--accent-color-primary);
}

.card-content {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
}

.card-description {
    color: gray;
}

.card-icons {
    justify-self: end;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 1.5rem;
}

.main-content-right {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 30px;
}

.section {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 10px;
}

.section-title {
    font-size: 1.25rem;
}

.announcements {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    row-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: white;
}

.announcement {
    padding-left: 30px;
    padding-right: 30px;
}

.announcement-description {
    font-size: var(--font-size-xsmall);
    color: grey;
}

hr {
    width: 85%;
    height: 1px;
    border: 0;
    background-color: lightgray;
}

.trending {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

.trending-item {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 20px;
}

.trending-item .user-project {
    color: grey;
}